{
	debug
	auto_https off
}

:8081 {
	bind fd/3 {
		protocols h1
	}

	handle /api* {
		reverse_proxy unix//run/gunicorn.sock {
			header_up Host {host}
			header_up X-Real-IP {remote_host}
		}
	}

	encode gzip
	handle {
		root * /usr/share/caddy/html
		file_server
		try_files {path} /index.html
	}
}
