<div class="page-container">
  <h1>My Skills</h1>
  @if (skillsByCategory$ | async; as skillsByCategory) {
    <div class="card-grid">
      @for (category of skillsByCategory | keyvalue; track category.key) {
        <mat-card class="content-card">
          <mat-card-header>
            <mat-card-title>{{ category.key }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-chip-set>
              @for (skill of category.value; track skill.name) {
                <mat-chip>{{ skill.name }}</mat-chip>
              }
            </mat-chip-set>
          </mat-card-content>
        </mat-card>
      }
    </div>
  }
</div>