<div class="page-container">
  <h1>My Skills</h1>
  <div class="skill-cards">
    @for (category of getCategories(); track category) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ category }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-chip-listbox>
            @for (skill of skillsByCategory[category]; track skill.name) {
              <mat-chip-option>{{ skill.name }}</mat-chip-option>
            }
          </mat-chip-listbox>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
